* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#E0DFD8;
    color: black;
}

.logo-brand {
    display: flex;
    align-items: center;
}

.brand-link {
    text-decoration: none; 
    color: inherit; 
    display: flex; 
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.brand-name {
    font-family: "Monoton", sans-serif;
    font-weight: 300;
    font-size: 35px;
    font-style: normal;
    
}

.navbar ul {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: text-decoration 0.3s ease;
}

.navbar a:hover {
   text-decoration: underline;
}

main {
    flex: 1; 
    padding: 20px;
    background-color: #D9D9D9;
}


.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 40px;
    background-color: #D9D9D9;
}

.gallery-item {
    width: 30%;
    margin: 10px;
}

.gallery-image {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    border-radius: 10px;
    aspect-ratio: 3 / 2;
}

.coffee-name {
    margin-top: 20px; 
    margin-left: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.coffee-description {
    margin-top: 20px;
    margin-left: 0; 
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #333;
}

p {
    line-height: 150%; /* 150% 表示 1.5 倍的字体大小 */
}

.try-me-button {
    margin-top: 20px; 
    margin-left: 0; 
    padding: 10px 20px; 
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: black;
    background-color: #ECAB65;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.try-me-button:hover {
    background-color: #e48621; 
}

footer {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #E0DFD8;
    color: black;
}

@media (max-width: 768px) {
    .gallery-item {
        width: 45%; 
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 100%; 
    }
    .brand-name {
        font-size: 20px;
    }

    .navbar a {
        font-size: 10px; 
    }

    .coffee-name {
        font-size: 20px; 
    }

    .coffee-description {
        font-size: 14px; 
    }

    .try-me-button {
        font-size: 14px; 
        padding: 8px 16px; 
    }
}